body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.content {
  padding: 2rem 4%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 60%;
  justify-self: center;
}

h1, h2 {
  color: #1a1a2e;
}

h1 {
  margin-bottom: 1rem;
  margin-top: 0;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.mainContainer {
  padding: 2rem 0;
  padding-top: 120px;
  display: flex;
  justify-content: center;
}

.mainContainer ul {
  padding: 0;
}

.profit-loss.positive {
  color: #28a745; /* Green for profit */
}

.profit-loss.negative {
  color: #dc3545; /* Red for loss */
}

.price {
  font-weight: bold;
  color: #1a1a2e;
}

.change {
  font-weight: bold;
}

.change.positive {
  color: #28a745; /* Green for positive change */
}

.change.negative {
  color: #dc3545; /* Red for negative change */
}

.error-message {
  color: #dc3545; /* Red for error messages */
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .content {
      width: 80%;
  }
}